/* 1 - BASE FORM STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}
body {
  background-color: lightgray;
  color: #171717;
  font-family: "Glory", sans-serif;
  padding: 20px;
}
a {
  text-decoration: none;
}

header {
  width: 100vw;
  margin: 50px 0;
  text-align: center;

//   card header
   a {
    position: relative;
    padding: 0 20px;
    margin: 0 auto;
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    color: darkgreen;
    border: #fff 1px solid;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    &:last-child span:last-child {
      color: lightslategrey;
    }
    &:hover {
      box-shadow: rgba(0, 128, 0, 0.5) 0 0 5px;
      span {
        opacity: 1;
        color: darkgreen;
      }
      #image-wrapper {
        box-shadow: rgba(0, 128, 0, 0.3) 0 0 5px;
      }
    }
    // Card content 
    div {
      h1 {
        margin-bottom: 20px;
      }
      span {
        opacity: 0.5;
        color: green;
      }
    }

    // logo of card
    #image-wrapper {
      background: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(10px);
      padding: 5px;
      border-radius: 50%;
      position: absolute;
      top: -20%;
      right: -50px;
      border: 1px rgba(0, 128, 0, 0.4) solid;
      box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;

      img {
        width: 100px;
      }
    }
  }
}

form {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  & > div {
    background-color: rgb(235, 233, 233);
    margin: 30px auto;
    padding: 20px 50px;
    border: 1px rgba(255, 255, 255, 0.8) solid;
    max-width: 300px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    &:hover {
      border: 1px rgba(0, 128, 0, 0.4) solid;
      box-shadow: rgba(0, 128, 0, 0.5) 0 0 5px;
    }
  }
  p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  /* 2 - RADIOBOX STYLES  */
  input[type="radio"] {
    opacity: 0;
    width: 0;
    margin: 0;
  }

  label[for="male"],
  label[for="female"] {
    margin-bottom: 10px;
    padding-left: 26px;
    font-weight: 600;
    display: inline-block;
    background-image: url("https://img.icons8.com/material-outlined/20/000000/checked-2--v2.png");
    background-repeat: no-repeat;
    line-height: 22px;
    cursor: pointer;
    letter-spacing: -0.44px;
  }

  input:checked + label[for="male"],
  input:checked + label[for="female"] {
    background-image: url("https://img.icons8.com/material-outlined/20/000000/checked-2--v1.png");
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    letter-spacing: 1px;
  }
  .input-labet-wrap {
    margin-bottom: 15px;
  }
}
/* 3 - CHECKBOX STYLES  */

/* 4 - TEXT INPUT STYLES & FIELDSETS */

/* 5 - SELECT BOXES */

/* 6 - INPUT VALIDATION STYLES */
