/* 1 - BASE FORM STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}
body {
  background-color: lightgray;
  color: #171717;
  font-family: "Glory", sans-serif;
  padding: 20px;
  width: 100vw;
  overflow: hidden;
}
a {
  text-decoration: none;
}

header {
  margin: 50px 0;
  text-align: center;

  //   card header
  a {
    position: relative;
    padding: 0 20px;
    margin: 0 auto;
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    color: darkgreen;
    border: #fff 1px solid;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    &:last-child span:last-child {
      color: lightslategrey;
    }
    &:hover {
      box-shadow: rgba(0, 128, 0, 0.5) 0 0 5px;
      span {
        opacity: 1;
        color: #006400;
      }
      #image-wrapper {
        box-shadow: rgba(0, 128, 0, 0.3) 0 0 5px;
      }
    }
    // Card content
    div {
      h1 {
        margin-bottom: 20px;
      }
      span {
        opacity: 0.5;
        color: green;
      }
    }

    // logo of card
    #image-wrapper {
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
      padding: 5px;
      border-radius: 50%;
      position: absolute;
      top: -10%;
      right: -30px;
      border: 1px rgba(0, 128, 0, 0.4) solid;
      box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;

      img {
        width: 100px;
      }
    }
  }
}

form {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  //   title of Card area

  //   Radio Area
  #radio {
    background-color: rgb(235, 233, 233);
    backdrop-filter: blur(10px);
    padding: 20px 50px;
    border: 1px rgba(255, 255, 255, 0.8) solid;
    max-width: 300px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    &:hover {
      border: 1px rgba(0, 128, 0, 0.4) solid;
      box-shadow: rgba(0, 128, 0, 0.5) 0 0 5px;
    }
  }

  legend {
    padding: 2px 6px;
    background: whitesmoke;
    font-size: 24px;
    border-radius: 5px;
    border: 1px rgba(0, 128, 0, 0.4) solid;
  }

  input[type="radio"] {
    opacity: 0;
    width: 0;
    margin: 0;
  }

  label[for="first"],
  label[for="second"] {
    display: flex;
    flex-direction: row;
    gap: 4px;
    cursor: pointer;
    div {
      filter: blur(0.5px);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: white;
      border: 3px white solid;
    }
  }

  input:checked + label[for="first"],
  input:checked + label[for="second"] {
    div {
      background: darkgreen;
      border: 3px white solid;
      text-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
      letter-spacing: 1px;
    }
  }
  .input-label-wrap {
    margin-bottom: 15px;
  }

  // Checkbob area
  #checkbox {
    background-color: rgb(235, 233, 233);
    backdrop-filter: blur(10px);
    padding: 20px 50px;
    border: 1px rgba(255, 255, 255, 0.8) solid;
    max-width: 300px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    &:hover {
      border: 1px rgba(0, 128, 0, 0.4) solid;
      box-shadow: rgba(0, 128, 0, 0.5) 0 0 5px;
    }
    legend {
      padding: 2px 6px;
      background: whitesmoke;
      font-size: 24px;
      border-radius: 5px;
      border: 1px rgba(0, 128, 0, 0.4) solid;
    }

    input {
      width: 0;
      opacity: 0;
    }
    label {
      cursor: pointer;
      padding-left: 22px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAAAj0lEQVQ4je3UQQ7BUBAG4I8NSxaqid6BA7kH9xH34Q4qaUm6QSwttFK7EV32X71MZr7Vm6GjDFrvDGtMgrMV9ji1oQxHjFAEoTmeWCJvilvckASRBrpjA8O6mOCK8geowKUGP9Df6aEe6hIqMVP/0mDSeqbge2kPGIsvbYoHVsjbZ2ThfUamQajCDudgfywv818XI9QZLDYAAAAASUVORK5CYII");
      background-repeat: no-repeat;
    }
    input:checked + label {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAAA3ElEQVQ4jc3SMUrEQBQG4G+yKcxewMLjiLIXsLGRVQQLQRAsbG0jHsBreAE7i8BewVJs7JSVXTYWMTGgmY1p9K8yebxvXjLDf0tonk5sWbgQZD07XwW5W0+QNoUKOes9QqmwcFUvk9YO/SapUljaldj8DvXPTGliZCpxPhSaKe3gQHDTLvwG6kRi0APuW+vC0rZg+hMSgx5lJrhT/9jUEa67xk073u+be5HZ827DyDHyLiQGUTo1N8az4DKGxKEKO1wH1Blyj9ZCbwP6m56vT1vJP9lxb2QVP4C/zQd16S6S3PYq1QAAAABJRU5ErkJggg");
    }
  }

  //   Contact area
  #contact {
    background-color: rgb(235, 233, 233);
    backdrop-filter: blur(10px);
    padding: 20px 50px;
    border: 1px rgba(255, 255, 255, 0.8) solid;
    max-width: 300px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    &:hover {
      border: 1px rgba(0, 128, 0, 0.4) solid;
      box-shadow: rgba(0, 128, 0, 0.5) 0 0 5px;
    }
    legend {
      padding: 2px 6px;
      background: whitesmoke;
      font-size: 24px;
      border-radius: 5px;
      border: 1px rgba(0, 128, 0, 0.4) solid;
    }

    input {
      padding: 5px 10px 5px 40px;
      border: none;
      outline: none;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
    }
  }
}
/* 4 - TEXT INPUT STYLES & FIELDSETS */

/* 5 - SELECT BOXES */

/* 6 - INPUT VALIDATION STYLES */
