/* 1 - BASE FORM STYLES */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body {
  background-color: lightgray;
  color: #171717;
  font-family: "Glory", sans-serif;
  padding: 20px;
}

a {
  text-decoration: none;
}

header {
  width: 100vw;
  margin: 50px 0;
  text-align: center;
}

header a {
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
  width: 250px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: darkgreen;
  border: #fff 1px solid;
  background-color: whitesmoke;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}

header a:last-child span:last-child {
  color: lightslategrey;
}

header a:hover {
  -webkit-box-shadow: rgba(0, 128, 0, 0.5) 0 0 5px;
          box-shadow: rgba(0, 128, 0, 0.5) 0 0 5px;
}

header a:hover span {
  opacity: 1;
  color: darkgreen;
}

header a:hover #image-wrapper {
  -webkit-box-shadow: rgba(0, 128, 0, 0.3) 0 0 5px;
          box-shadow: rgba(0, 128, 0, 0.3) 0 0 5px;
}

header a div h1 {
  margin-bottom: 20px;
}

header a div span {
  opacity: 0.5;
  color: green;
}

header a #image-wrapper {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: -20%;
  right: -50px;
  border: 1px rgba(0, 128, 0, 0.4) solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
          box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
}

header a #image-wrapper img {
  width: 100px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* 2 - RADIOBOX STYLES  */
}

form > div {
  background-color: #ebe9e9;
  margin: 30px auto;
  padding: 20px 50px;
  border: 1px rgba(255, 255, 255, 0.8) solid;
  max-width: 300px;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 4px;
}

form > div:hover {
  border: 1px rgba(0, 128, 0, 0.4) solid;
  -webkit-box-shadow: rgba(0, 128, 0, 0.5) 0 0 5px;
          box-shadow: rgba(0, 128, 0, 0.5) 0 0 5px;
}

form p {
  font-size: 20px;
  margin-bottom: 20px;
}

form input[type="radio"] {
  opacity: 0;
  width: 0;
  margin: 0;
}

form label[for="male"],
form label[for="female"] {
  margin-bottom: 10px;
  padding-left: 26px;
  font-weight: 600;
  display: inline-block;
  background-image: url("https://img.icons8.com/material-outlined/20/000000/checked-2--v2.png");
  background-repeat: no-repeat;
  line-height: 22px;
  cursor: pointer;
  letter-spacing: -0.44px;
}

form input:checked + label[for="male"],
form input:checked + label[for="female"] {
  background-image: url("https://img.icons8.com/material-outlined/20/000000/checked-2--v1.png");
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
  letter-spacing: 1px;
}

form .input-labet-wrap {
  margin-bottom: 15px;
}

/* 3 - CHECKBOX STYLES  */
/* 4 - TEXT INPUT STYLES & FIELDSETS */
/* 5 - SELECT BOXES */
/* 6 - INPUT VALIDATION STYLES */
/*# sourceMappingURL=sass.css.map */